:root{
  --clr-white: #ffffff;
  --clr-lblue: #4c7edf;
  --clr-blue: #1344a0;
  --clr-dblue: #0f2f6a;
  --clr-orange: #f1e2c8;

/* 
rgb(255, 255, 255) white
rgb(76, 126, 223) lblue
rgb(19, 68, 160) blue
rgb(15, 47, 106) dblue
rgb(241, 226, 200) orange
*/

  --size-xxs: 0.5rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;

  /* --fc-bg-event-opacity: 1; */
  --fc-today-bg-color: #f1e2c8;
  --fc-small-font-size: .20em;
}


*{
  margin: 0;
  line-height: calc(1em + 0.5rem);
  list-style: none;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Zodiak', serif;
  background-color: var(--clr-dblue);
  color: var(--clr-white);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

button{
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}
